configuration {
 font: "FiraCode Nerd Font Mono Bold 10";
 hover-select: true;
 me-select-entry: "";
 me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
 }
@theme "~/.config/rofi/clipboard/squared-everforest.rasi"

