configuration {
 modi: "combi";
 terminal: "alacritty";
 show-icons: true;
 icon-theme: "papirus-dark";
 display-drun: "";
 font: "FiraCode Nerd Font Mono Bold 10";
 combi-modi: "drun";
 hover-select: true;
 me-select-entry: "";
 me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
}
@theme "~/.config/rofi/menu/squared-everforest.rasi"

